/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  /* Hero Section Styles */
  .hero {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
  }
  
  .hero-content p {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
    
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Services Section Styles */
  .services {
    text-align: center;
    padding: 40px 20px;
  }
  
  .services h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .service-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    flex-grow: 1;
  }
  
  nav {
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
    